
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
}
body{
    background-color: #f4f5fa;
}
/* moblie navbar starts */
.mob-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10000;
}
.mob-nav img{
    width: 50px;
    height: 50px;
}
.mob-nav i{
    font-size: 24px;
    color: #6b6f82;
    cursor: pointer;
}
.nav-hide{
    transform: translateY(-250%);
}
.mob-nav-show{
    transform: translateY(0);
}
.body-margin-top{
    margin-top: -80px;
}
.body-margin-bottom{
    margin-top: 0;
    transition: .3s ease-in-out;
}
@media (min-width:768px) {
    .mob-nav{
        display: none;
    }
    .nav-hide{
        transform: translateY(0);
    }
    .body-margin-top{
        margin-top: 0px;
    }
}
/* mobile navbar ends */
/* navbar section starts */
.side-bar{
    display: none;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 4px 4px 5px rgba(0, 0, 0, .1);
    transition:  .4s ease-in-out;
    /* transform: translateY(-250%); */
}
.nav-search{
    display: flex;
    align-items: center;
}
.nav-user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar i{
    color: #6b6f82;
    font-size: 22px;
    padding: 0 6px;
}
.nav-user-icon{
    display: flex;
    align-items: center;
}
.nav-user-icon img{
    border-radius: 50%;
}
.nav-user img {
    width: 28px;
    margin: 0 5px;
}
#menu-btn{
    display: none;
}
@media (min-width:768px) {
    #menu-btn{
        display: block;
        cursor: pointer;
    } 
}
/* side bar section */
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    margin-top:90px !important; 
    row-gap: 20px;
    background-image: linear-gradient(to top, #130e3b, #183d8d);
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 20px;
    transition: all .5s ease-in-out;
}
.side-bar img{
    display: none;
}
.side-bar-icon{
    display: flex;
    align-items: center;
}
.side-bar-icon i{
    color: #fff;
    opacity: .7;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    font-size: 40px;
}

.side-bar-title {
    color: #fff;
    font-size: 12px;
    margin: 10px;
}
.side-bar-icon i:hover {
    opacity: 1;
}
.mob-side-hide{
    transform: translateX(-250%);
}
.mob-side-show{
    transform: translateX(0);
}


@media (min-width:768px) {
    .side-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 120px;
        margin: 10px; 
        margin-top: 3px !important;

    }
    .hide_we{
     transform: translateX(-120%); 
    }
    .hide_me{
        transform: translateX(0%);  
    }
    .side-bar img {
        display: block;
        width: 75px;
        margin: 10px;
    }
    .side-bar-icon i{
        color: #fff;
        opacity: .7;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
        font-size: 40px;
    }
    .side-bar-icon{
        display: flex;
        flex-direction: column !important;
    }
    .side-bar-icon .side-bar-title{
        display: none;
    }
   .side-bar .side-bar-icon>a:hover+.side-bar-title{
        display: block !important; 
    }
    .side-bar .side-bar-icon>i:hover+.side-bar-title{
        display: block !important; 
    }
    .side-bar-title {
        color: #fff;
        font-size: 12px;
        margin: 10px;
    }
    .side-bar-icon i:hover {
        opacity: 1;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        padding: 30px 50px 30px 30px !important;
        margin-bottom: 20px;
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1000;
        /* box-shadow: 0 0 2px 5px rgba(0, 0, 0, .3); */
        transition:  .4s ease-in-out;
    }
    .nav-bar i{
        padding: 0 15px;
    }
    .side-bar {
        display: flex;
    }

}

@media (min-width:768px) {
    .body-wrapper {
        width: 100%;
        padding: 30px 0 0 40px !important ;
        transition:  .4s ease-in-out;
    }
    .body-show{
        padding-left: 140px !important;
    }
    .nav-show{
        padding-left: 130px !important;
    }
}
@media (min-width:992px) {
    .body-wrapper{
        width: 100%;
    }
}

/* *********************** */
.btn {
    background-image: linear-gradient(to right, #ff4137 0%, #fdc800 51%, #ff4137 100%);
    background-size: 200% auto;
    box-shadow: 0px 0px 16px 0 rgba(255, 65, 55, 0.5);
    border-radius: 30px;
    border-style: none;
    color: white;
    font-size: 15px;
    margin-right: 15px;
    transition: 0.5s;
    padding: 14px 42px;
}

.btn:hover {
    background-position: right center;
}

.btn:hover {
    transform: scale(103%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.body-wrapper{
    padding: 0 15px;
    overflow: hidden;
}
/* ****************** */

/* content 1 section starts */
.container {
    width: 280px;
    height: 200px;
}

.donut-h6 {
    padding: 21px;
    font-size: 14px;
    color: #464855;
    font-weight: 100;
}

@media (min-width:768px) {
    .container {
        width: 700px;
        height: 200px;
        margin: 0 auto;
    }
}

.donut-chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%;
}

p.center {
    background: #fff;
    color: #00000066;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
}

.portion-block {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.circle {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-size: 1.5rem;
}

#part1 {
    transform: rotate(0deg);
}

#part1 .circle {
    background-color: #2abbfe;
    transform: rotate(76deg);
    animation: first 1s 1 forwards;
}

#part2 {
    transform: rotate(100deg);
}

#part2 .circle {
    background-color: #c37bfe;
    animation: second 1s 1 forwards 1s;
}

#part3 {
    transform: rotate(150deg);
}

#part3 .circle {
    background-color: #39d98c;
    animation: third 0.5s 1 forwards 2s;
}

#part4 {
    transform: rotate(200deg);
}

#part4 .circle {
    background-color: #e85d44;
    animation: four 0.5s 1 forwards 2s;

}

#part5 {
    transform: rotate(250deg);
}

#part5 .circle {
    background-color: #fa679d;
    animation: five 0.5s 1 forwards 2s;
}

#part6 {
    transform: rotate(360deg);
}

#part6 .circle {
    background-color: #33d4d8;
    animation: six 0.5s 1 forwards 2s;

}

/* Animation */
@keyframes first {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(100deg);
    }
}

@keyframes second {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(150deg);
    }
}

@keyframes third {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(200deg);
    }
}

@keyframes four {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(220deg);
    }
}

@keyframes five {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(260deg);
    }
}

@keyframes six {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(300deg);
    }
}

.donut-chart {
    position: relative;
}

.text {
    position: absolute;
    color: #00000066;
    top: 44%;
    left: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.donut-chart-container {
    width: 90%;
    overflow: hidden;
    padding: 0 15px;
}

.donut-body {
    padding: 21px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list p {
    line-height: 1.8;
    font-size: 14px;
    color: #6b6f82;
}

.list-p {
    display: flex;
    align-items: center;
}

.li-dot-1 {
    font-size: 25px;
}

/* media query */
@media (min-width:768px) {
    .donut-body {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .list1,
    .list2 {
        width: 50%;
        padding: 0 15px;
    }
    .bar-chart-container{
        width: 700px;
    }
    .text{
        top: 45%;
    }
}

@media (min-width:992px) {
    .charts {
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .bar-chart-container {
        width: 80%;
        height: 120%;
    }

    .donut-chart-container {
        width: 100%;
    }

    .block {
        width: 370px;
        height: 200px;
    }
}

/* content 1 section ends */

/* content 2 section  */
.card {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    padding: 21px;
    border-radius: 8px;
    margin: 20px 0;
}

.card input {
    outline: none;
    border: none;
    background-color: #f1f1f1;
    display: block;
    font-size: 16px;
}

.card label {
    color: #777777;
    font-size: 11px;
}

.card:hover {
    transform: scale(1.03);
    transition: .5s;
}

.one,
.three,
.five {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 6px 0;
}

.one input {
    color: #000;
}

.card i {
    text-align: center;
    margin: 10px;
}

.card select {
    border: 1px solid lightgray;
    color: #777777;
    background-color: #fff;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    outline: none;
}

.six {
    display: flex;
    justify-content: center;
    margin: 13px 0 0;
}

/* content 2 section ends */
/* content 3 section starts */
.card-2 h6,
.h6 {
    font-size: 15px;
    margin: 21px 0;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card-2 strong {
    color: #6b6f82;
    margin-bottom: 14px;
}

.card-2 h1 {
    font-size: 28px;
    color: #464855;
    margin-bottom: 7px;
    margin-top: 0px;
}

.withdraw {
    display: flex;
    align-items: center;
    margin-top: 21px;
    justify-content: center;
    padding: 5px 30px;
}

.card-2-span {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 8px 0;
}
.section-2-icon {
    font-size: 40px !important;
    color: #6b6f82;
}
.card-2-span .distribute {
    margin-right: 50px;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: #fff;
    border: 1px solid #fff;
}
.progress-bar {
    height: 100%;
    width: 70%;
    border-radius: 15px;
    background-color: #ff9149;

}
/* content 3 section ends */

/* content 4 section starts */
.content-4 {
    padding: 0 15px;
    overflow: auto;
}

.table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    overflow-x: scroll;
    white-space: nowrap;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 40px;
    margin: 20px 0 50px;
    border-collapse: collapse;
}

th {
    padding: 18px 24px;
    text-transform: capitalize;
    font-size: 12px;
    color: #6b6f82;
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid #e3ebf3;
}

.table th {
    margin-bottom: 2px solid #e3ebf3;
    text-transform: uppercase;
    letter-spacing: .6px;
}

td {
    padding: 18px 24px;
    font-size: 14px;
    color: #6b6f82;
    font-weight: 100;
    border-top: 1px solid #98a4b8;
    border-bottom: 1px solid #e3ebf3;
}

tr:hover {
    background-color: #f4f5fa;
}

.success {
    color: #28a745;
    margin-right: 10px;
}

.scs:hover {
    background-color: #28a745;
    color: #fff;
}

.warning {
    color: #ff9149;
    margin-right: 10px;
}

.warn:hover {
    background-color: #ff9149;
    color: #fff;
}

.danger {
    color: #ff4961;
    margin-right: 10px;
}

.dan:hover {
    background-color: #ff4961;
    color: #fff;
}

.date {
    color: #1b65d3;
}

.scs,
.warn,
.dan {
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 12px;
    background: none;
}

.scs {
    border-color: #28d094;
    color: #28d094;
}

.warn {
    border-color: #ff9149;
    color: #ff9149;
}

.dan {
    border-color: #ff4961;
    color: #ff4961;
}

/* content 4 section ends */

/* content 5 section starts */
.image-container,
.slider-container {
    margin: 10px 0;
    padding: 21px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #f1f1f1;
}

.image-content img {
    width: 292px;
    height: 219px;
}

.image-content-body {
    padding: 21px;
}

.card-text {
    margin-bottom: 14px;
}

.card-link {
    color: #1b65d3;
    font-size: 14px;
}

.link-two {
    margin-left: 21px;
}

.image-content-footer {
    padding: 21px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e3ebf3;
}

.float-left {
    font-size: 14px;
    color: #98a4b8;
}

.slider-content {
    margin: 28px 0;
}

.timeline {
    padding: 10px;
    position: relative;
}

ol {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

ol li {
    position: absolute;
    top: -20%;
    left: 40%;
    font-size: 14px;
}

ol li a {
    color: #98a4b8;

}

.filling-line {
    position: absolute;
    background-color: #1b65d3;
    width: 65%;
    height: 2px;
    top: 25%;
    left: 36px;
    margin: 0 10px;
}

.prev,
.next {
    border: 1px solid #98a4b8;
    border-radius: 50%;
    padding: 8px;
}

.next {
    position: absolute;
    right: 20px;
    top: 0;
}

.slider-card {
    padding: 0 10px;
    padding-left: 40px;
    margin-bottom: 14px;
    line-height: 30px;
}

.text-bold {
    margin-bottom: 14px;
    font-size: 18px;
    color: #6b6f82;
}

.text-normal {
    margin-top: 21px;
    font-size: 14px;
    color: #6b6f82;
}

/* content 5 section ends */
/* footer section starts */
.footer {
    padding: 21px;
    color: #6b6f82;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-anchor {
    color: #1b65d3;
}

.heart {
    color: #ff4961;
}

/* footer section ends */

/* media query */
@media(min-width:768px) {
    body{
        width: 100%;
    }
    .content-2-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 13px;
        margin: 0 30px;
    }

    .wd {
        width: auto;
        margin: 0 5px;
    }

    .input {
        width: 60px;
    }

    .four {
        width: 70px;
    }

    .adrs {
        width: 130px;
    }

    .card-2 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin: 20px;
        padding: 30px 0;
    }

    .card-2-span {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 20px 0;
    }

    #box1 {
        margin: 0 10px;
        padding-right: 20px;
    }
    #box2{
        padding-top: 0px;
        max-height: 150px;
        margin-top: 60px;
    }

    .box-container-1 {
        margin: 0 15px;
        max-height: 135px;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
    }

    .table {
        width: 100%;
    }

    
    .content-5{
        padding: 0 10px;
    }
    .image-content img {
        width: 600px;
        margin: 0 5%;
        height: 500px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width:992px) {
    .wd {
        width: auto;
    }

    .input {
        width: 100px;
    }

    .section-2-icon {
        font-size: 30px !important;
    }

    .four {
        width: 150px;
    }

    .adrs {
        width: 400px;
    }
    .text{
        top: 44%;
    }
    .content-5 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
        margin: 20px;
    }

    .image-content img {
        width: 400px;
        height: 300px;
    }
    body{
        width: 100%;
    }
    #box2{
        margin-top: 56px;
        max-height: 137px;
    }
}